<div class="page">
  <main>
    <center><h1>Виведення данних про вантаж</h1></center>
    <ul>
      <li>
        Інфа
      </li>
    </ul>
    <%= link_to 'Додати', "../cargoes/new" %>
  </main>
</div>
